/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6900;
    height: 70px;
    color: white;
}

section {
    height: 70px;
    width: 1200px;
    margin: auto; 
}

li {
    list-style-type: none;
}

.flex-nav-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.flex-nav-start > li {
    padding: 8px;
    text-align: center;

}


.logo img {
    height: 30px;

}

.flex-nav-logo {

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-nav-icons {

    display: flex;
    justify-content: end;
    align-items: center;
    
}

.icons {
    height: 15px;
    color: white;
}

.icons > i {
    padding: 8px;
}

main {
    width: 1200px;
    margin: auto;
    padding: 40px 0px 60px 0px;

}

.first-row-flex {
    display: flex;
    justify-content:center;
}

.products {
    display: flex;
    justify-content: start;

}

.first-row-flex img {
  
    width: 400px;
    padding: 10px;
  
}

.first-product {
    /* background-color: #FF6900; */
    width: 400px;
    height: 70px;
    padding-left: 10px;
}

.second-product {
    /* background-color: #FF6900; */
    width: 400px;
    height: 70px;
    padding-left: 10px;
 
}

.third-product {
    /* background-color: #FF6900; */
    width: 400px;
    height: 70px;
    padding-left: 10px;
    
}

footer {

    background-color: black;
    height: 80px;
    color: white;

}


.products> li {
    padding: 4px;
    text-align: center;

}

.info {
    display: flex;
    font-size: 12px;
    padding-top: 5px;
}